html, body {
	margin: 0px;
	padding: 0px;
	font-family: Trebuchet MS;
	color: #000000;
	font-size: 100%;
	background: #eeeeee;
}




input[type=button] {
	background-color:#005fae;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #004d8d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	padding:8px;
	width: 225px;
	text-decoration:none;
	text-shadow:0px 1px 0px #000000;
	margin-top: 10px;
	-webkit-font-smoothing: antialiased;
}

input[type=button]:hover {
	background-color:#ffffff;
	color: #005fae;
}

input[type=button]:active {
	position:relative;
	top:1px;
}


